.elementor-3695 .elementor-element.elementor-element-731de53>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-3695 .elementor-element.elementor-element-731de53:not(.elementor-motion-effects-element-type-background),
.elementor-3695 .elementor-element.elementor-element-731de53>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF00;
}

.elementor-3695 .elementor-element.elementor-element-731de53>.elementor-background-overlay {
	background-color: #FFFFFF00;
	opacity: 0.29;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3695 .elementor-element.elementor-element-731de53 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: -90px;
	padding: 0px 0px 0px 0px;
	z-index: 2;
}

.elementor-3695 .elementor-element.elementor-element-e7cecfc {
	text-align: left;
}

.elementor-3695 .elementor-element.elementor-element-e7cecfc img {
	width: 90%;
}

.elementor-3695 .elementor-element.elementor-element-e7cecfc>.elementor-widget-container {
	margin: 0px -20px 0px 0px;
}

.elementor-3695 .elementor-element.elementor-element-9f36441>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-menu-toggle {
	margin-left: auto;
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu .elementor-item {
	font-family: "Jost", Sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
	font-style: normal;
	line-height: 1em;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item {
	color: #e6d7c7;
	fill: #000000;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item:hover,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-2479647);
	fill: var(--e-global-color-2479647);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed .elementor-item:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: #E6BF94;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed .elementor-item.elementor-item-active:after {
	border-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed .elementor-item:before {
	border-width: 1px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed.e--animation-draw .elementor-item:before {
	border-width: 0 0 1px 1px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed.e--animation-draw .elementor-item:after {
	border-width: 1px 1px 0 0;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed.e--animation-corners .elementor-item:before {
	border-width: 1px 0 0 1px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-framed.e--animation-corners .elementor-item:after {
	border-width: 0 1px 1px 0;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-underline .elementor-item:after,
.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-overline .elementor-item:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-double-line .elementor-item:before,
.elementor-3695 .elementor-element.elementor-element-37c1349 .e--pointer-double-line .elementor-item:after {
	height: 1px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 {
	--e-nav-menu-horizontal-menu-item-margin: calc(29px / 2);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 29px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-menu-toggle {
	color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-astglobalcolor4);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #00000010;
	border-radius: 18px 18px 18px 18px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a:hover,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a.highlighted,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-menu-toggle:hover {
	color: #FFFFFF;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a:hover,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-astglobalcolor4);
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown .elementor-item,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Jost", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:first-child a {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:last-child a {
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	margin-top: 10px !important;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 div.elementor-menu-toggle {
	color: #FFFFFF;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 div.elementor-menu-toggle svg {
	fill: #FFFFFF;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 div.elementor-menu-toggle:hover {
	color: #FFFFFF;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 div.elementor-menu-toggle:hover svg {
	fill: #FFFFFF;
}

.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-menu-toggle:hover {
	background-color: var(--e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-3695 .elementor-element.elementor-element-e6dd0e9.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-3695 .elementor-element.elementor-element-e6dd0e9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-3695 .elementor-element.elementor-element-e6dd0e9.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-3695 .elementor-element.elementor-element-e6dd0e9>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3695 .elementor-element.elementor-element-6c51377 .elementor-button {
	font-family: "Jost", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-6c51377 .elementor-button:hover,
.elementor-3695 .elementor-element.elementor-element-6c51377 .elementor-button:focus {
	color: var(--e-global-color-astglobalcolor4);
	background-color: var(--e-global-color-primary);
}

.elementor-3695 .elementor-element.elementor-element-6c51377 .elementor-button:hover svg,
.elementor-3695 .elementor-element.elementor-element-6c51377 .elementor-button:focus svg {
	fill: var(--e-global-color-astglobalcolor4);
}

.elementor-3695 .elementor-element.elementor-element-8d6a958 .elementor-button {
	background-color: #D8B48B;
}

@media(max-width:1366px) {
	.elementor-3695 .elementor-element.elementor-element-37c1349 {
		width: var(--container-widget-width, 627.828px);
		max-width: 627.828px;
		--container-widget-width: 627.828px;
		--container-widget-flex-grow: 0;
	}

	.elementor-3695 .elementor-element.elementor-element-8d6a958 {
		width: var(--container-widget-width, 101.469px);
		max-width: 101.469px;
		--container-widget-width: 101.469px;
		--container-widget-flex-grow: 0;
	}
}

@media(min-width:768px) {
	.elementor-3695 .elementor-element.elementor-element-757ef19 {
		width: 27.193%;
	}

	.elementor-3695 .elementor-element.elementor-element-9f36441 {
		width: 43.997%;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9 {
		width: 19.271%;
	}

	.elementor-3695 .elementor-element.elementor-element-119eeda {
		width: 9.517%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-3695 .elementor-element.elementor-element-757ef19 {
		width: 25%;
	}

	.elementor-3695 .elementor-element.elementor-element-9f36441 {
		width: 50%;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9 {
		width: 25%;
	}
}

@media(max-width:1024px) {
	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown {
		border-radius: 0px 18px 18px 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:first-child a {
		border-top-left-radius: 0px;
		border-top-right-radius: 18px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:last-child a {
		border-bottom-right-radius: 18px;
		border-bottom-left-radius: 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown a {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 30px !important;
	}
}

@media(max-width:767px) {
	.elementor-3695 .elementor-element.elementor-element-731de53 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 10px 0px;
		z-index: 2;
	}

	.elementor-3695 .elementor-element.elementor-element-757ef19 {
		width: 50%;
	}

	.elementor-3695 .elementor-element.elementor-element-9f36441 {
		width: 50%;
	}

	.elementor-bc-flex-widget .elementor-3695 .elementor-element.elementor-element-9f36441.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-3695 .elementor-element.elementor-element-9f36441.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown {
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:first-child a {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--dropdown li:last-child a {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-3695 .elementor-element.elementor-element-37c1349 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 2px !important;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349 {
		--nav-menu-icon-size: 24px;
	}

	.elementor-3695 .elementor-element.elementor-element-37c1349>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9 {
		width: 60%;
	}

	.elementor-bc-flex-widget .elementor-3695 .elementor-element.elementor-element-e6dd0e9.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-3695 .elementor-element.elementor-element-e6dd0e9>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 5px 5px 5px 5px;
	}

	.elementor-3695 .elementor-element.elementor-element-119eeda {
		width: 40%;
	}
}

/* Start custom CSS for section, class: .elementor-element-731de53 */
.elementor-3695 .elementor-element.elementor-element-731de53.elementor-sticky--effects {
	background-color: rgba(250, 250, 250) !important
}

.elementor-3695 .elementor-element.elementor-element-731de53 {
	transition: background-color 1s ease !important;
}


.logo img {
	max-width: 140px;
	height: auto;
	transition: all 1s ease;
}

.elementor-sticky--effects .logo img {
	max-width: 120px;
	height: auto;
}


.elementor-sticky--active .nav-menu--main .elementor-item {
	color: #0000 !important;
}

/* End custom CSS */